.button{
  display: inline-block;
  color: color(white);
  background: linear-gradient(to top, $dawn-red, $dawn-orange);
  @include card(2);
  padding: scale(0);
  border-radius: 6px;

  font-family: $sans;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.57px;

  margin-top: scale(4);

  transition: box-shadow 300ms;

  &.alternate{
    background: $dusk;
  }

  &:hover{
    color: color(white);
    @include card(5);
  }
}

.button-wrap {
  text-align: center;
  margin-bottom: scale(5);
}