figure{
  position: relative;

  @include media(large){
    .container & {
      margin-left: -13rem;
      margin-right: -13rem;
    }
  }

  img{
    display: block;
    border-radius: 3px;
  }

  &.overlay-caption img {
    @include card(3);
  }

  // If there's no background color, 
  // ensure caption legibility for overlay text.
  &.overlay-caption{
    &:not(.dusk){
      &:after{
        background: rgba(0,0,0,0.25);
      }
    }
  }

  &:before,
  &:after{
    border-radius: 3px;
  }

  // must go after to overwrite
  @extend %overlays;
}

figcaption{
  font-style: italic;
  font-size: scale(-1);
  color: color(dark-gray);
  
  // Cover up possible overlay
  margin: 0;
  padding-top: scale(-1);
  background: color(white);
  position: relative;
  z-index: 4;

  @include media(large){
    position: absolute;
    right: 0;
    max-width: calc(13rem - #{scale(1)});
    margin-top: scale(1);
    padding: 0;
  }

  .overlay-caption & {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    margin-left: auto;
    margin-right: auto;

    padding: scale(3);
    display: block;

    text-align: center;
    font-size: scale(1);
    font-style: normal;

    color: color(white);
    background: none;

    @include media(medium){
      font-size: scale(2);
      padding: scale(5);
    }

    @include media(large){
      right: auto;
      padding: scale(7);
      font-size: scale(3);
      max-width: 100%;
    }
  }
}
