/**
 * @license
 * MyFonts Webfont Build ID 3228351, 2016-06-05T13:59:27-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: OptimaLT-BoldItalic by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/optima/bold-oblique/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 1995 -2006 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be reprod
 * 
 * Webfont: OptimaLT-MediumItalic by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/optima/medium-italic/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted (c) 1995, 2003 Linotype Library GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype Library GmbH, and may no
 * 
 * Webfont: OptimaLT-Medium by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/optima/medium/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted (c) 1995, 2003 Linotype Library GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype Library GmbH, and may no
 * 
 * Webfont: OptimaLT-BlackItalic by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/optima/black-italic/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted (c) 1995, 2003 Linotype Library GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype Library GmbH, and may no
 * 
 * Webfont: OptimaLT by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/optima/optima/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 1985 -2006 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be reprod
 * 
 * Webfont: OptimaLT-ExtraBlackItalic by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/optima/extra-black-italic/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted (c) 1995, 2003 Linotype Library GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype Library GmbH, and may no
 * 
 * Webfont: OptimaLT-Italic by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/optima/oblique/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 1995 -2006 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be reprod
 * 
 * Webfont: OptimaLT-ExtraBlack by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/optima/extra-black/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted (c) 1995, 2003 Linotype Library GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype Library GmbH, and may no
 * 
 * Webfont: OptimaLT-Bold by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/optima/bold/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 1985 -2006 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be reprod
 * 
 * Webfont: OptimaLT-Black by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/optima/black/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted (c) 1995, 2003 Linotype Library GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype Library GmbH, and may no
 * 
 * Webfont: OptimaLT-DemiBold by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/optima/demi-bold/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted (c) 1995, 2003 Linotype Library GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype Library GmbH, and may no
 * 
 * Webfont: OptimaLT-DemiBoldItalic by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/optima/demi-bold-italic/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted (c) 1995, 2003 Linotype Library GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype Library GmbH, and may no
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3228351
 * Licensed pageviews: 250,000
 * 
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3142bf");

  
// @font-face {font-family: 'OptimaLT-BoldItalic';src: url('../fonts/optima/3142BF_0_0.eot');src: url('../fonts/optima/3142BF_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/optima/3142BF_0_0.woff2') format('woff2'),url('../fonts/optima/3142BF_0_0.woff') format('woff'),url('../fonts/optima/3142BF_0_0.ttf') format('truetype');}
// @font-face {font-family: 'OptimaLT-MediumItalic';src: url('../fonts/optima/3142BF_1_0.eot');src: url('../fonts/optima/3142BF_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/optima/3142BF_1_0.woff2') format('woff2'),url('../fonts/optima/3142BF_1_0.woff') format('woff'),url('../fonts/optima/3142BF_1_0.ttf') format('truetype');}
// @font-face {font-family: 'OptimaLT-Medium';src: url('../fonts/optima/3142BF_2_0.eot');src: url('../fonts/optima/3142BF_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/optima/3142BF_2_0.woff2') format('woff2'),url('../fonts/optima/3142BF_2_0.woff') format('woff'),url('../fonts/optima/3142BF_2_0.ttf') format('truetype');}
// @font-face {font-family: 'OptimaLT-BlackItalic';src: url('../fonts/optima/3142BF_3_0.eot');src: url('../fonts/optima/3142BF_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/optima/3142BF_3_0.woff2') format('woff2'),url('../fonts/optima/3142BF_3_0.woff') format('woff'),url('../fonts/optima/3142BF_3_0.ttf') format('truetype');}
@font-face {font-family: 'OptimaLT';src: url('../fonts/optima/3142BF_4_0.eot');src: url('../fonts/optima/3142BF_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/optima/3142BF_4_0.woff2') format('woff2'),url('../fonts/optima/3142BF_4_0.woff') format('woff'),url('../fonts/optima/3142BF_4_0.ttf') format('truetype');}
// @font-face {font-family: 'OptimaLT-ExtraBlackItalic';src: url('../fonts/optima/3142BF_5_0.eot');src: url('../fonts/optima/3142BF_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/optima/3142BF_5_0.woff2') format('woff2'),url('../fonts/optima/3142BF_5_0.woff') format('woff'),url('../fonts/optima/3142BF_5_0.ttf') format('truetype');}
// @font-face {font-family: 'OptimaLT-Italic';src: url('../fonts/optima/3142BF_6_0.eot');src: url('../fonts/optima/3142BF_6_0.eot?#iefix') format('embedded-opentype'),url('../fonts/optima/3142BF_6_0.woff2') format('woff2'),url('../fonts/optima/3142BF_6_0.woff') format('woff'),url('../fonts/optima/3142BF_6_0.ttf') format('truetype');}
// @font-face {font-family: 'OptimaLT-ExtraBlack';src: url('../fonts/optima/3142BF_7_0.eot');src: url('../fonts/optima/3142BF_7_0.eot?#iefix') format('embedded-opentype'),url('../fonts/optima/3142BF_7_0.woff2') format('woff2'),url('../fonts/optima/3142BF_7_0.woff') format('woff'),url('../fonts/optima/3142BF_7_0.ttf') format('truetype');}
// @font-face {font-family: 'OptimaLT-Bold';src: url('../fonts/optima/3142BF_8_0.eot');src: url('../fonts/optima/3142BF_8_0.eot?#iefix') format('embedded-opentype'),url('../fonts/optima/3142BF_8_0.woff2') format('woff2'),url('../fonts/optima/3142BF_8_0.woff') format('woff'),url('../fonts/optima/3142BF_8_0.ttf') format('truetype');}
@font-face {font-family: 'OptimaLT-Black';src: url('../fonts/optima/3142BF_9_0.eot');src: url('../fonts/optima/3142BF_9_0.eot?#iefix') format('embedded-opentype'),url('../fonts/optima/3142BF_9_0.woff2') format('woff2'),url('../fonts/optima/3142BF_9_0.woff') format('woff'),url('../fonts/optima/3142BF_9_0.ttf') format('truetype');}
// @font-face {font-family: 'OptimaLT-DemiBold';src: url('../fonts/optima/3142BF_A_0.eot');src: url('../fonts/optima/3142BF_A_0.eot?#iefix') format('embedded-opentype'),url('../fonts/optima/3142BF_A_0.woff2') format('woff2'),url('../fonts/optima/3142BF_A_0.woff') format('woff'),url('../fonts/optima/3142BF_A_0.ttf') format('truetype');}
// @font-face {font-family: 'OptimaLT-DemiBoldItalic';src: url('../fonts/optima/3142BF_B_0.eot');src: url('../fonts/optima/3142BF_B_0.eot?#iefix') format('embedded-opentype'),url('../fonts/optima/3142BF_B_0.woff2') format('woff2'),url('../fonts/optima/3142BF_B_0.woff') format('woff'),url('../fonts/optima/3142BF_B_0.ttf') format('truetype');}
 