#footer{
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: scale(5);
  padding: scale(1);
  margin-top: scale(9);
  line-height: scale(1);
  color: color(dark-gray);
  background-color: #f0f0f0;
  box-shadow: inset top-shadow(1);

  small{
    margin: 0;
  }

  ul{
    font-size: 125%;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

#footer-logo{
  max-width: 50px;
  position: absolute;
  bottom: calc(100% + #{double(scale(1))});
  left: 50%;
  transform: translateX(-50%);
}