form{
  margin: 3em 0;

  input,
  textarea{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  textarea{
    height: auto;
  }

  button{
    cursor: pointer;
  }
}
