/* Hero */

.hero{

  // Make it as tall as the window
  min-height: calc(100vh - #{scale(6)});
  width: 100%;

  // Settings for child content
  color: #fff;
  text-align: center;

  padding: scale(1); // add minimum padding

  margin-bottom: scale(5);

  // Background image settings
  background-color: color(primary); // fallback
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  // Use flexbox to always center center content
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  position: relative; // allow absolute positioning
  z-index: 0; // put background image behind everything

  @extend %overlays;
}

// Style inner content
.hero-content{
  z-index: 5;         // put content on top of everything
  
  h1{
    font-family: $serif;
    font-weight: 400;
    text-transform: none;
    margin-top: 0;
    margin-bottom: scale(2);

    @include media(medium){
      font-size: scale(3);
    }

    @include media(large){
      font-size: scale(4);
    }
  }

  p{
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    
    @include media(large){
      font-size: scale(2);
    }
  }
}

%overlays {
  // Make overlay gradients cover the entire element
  &:before,
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    // Kill any extra space
    margin: 0;
    padding: 0;

  }

  // Dawn overlay
  &.dawn:before{
    background-image: linear-gradient(45deg, rgba(238,46,37,0.7) 0%, rgba(241,127,33,0.7) 60%, rgba(243,206,30,0.7) 110%);
    
    // In the `combined` case, dawn should be in back
    z-index: 2;

    // mix-blend-mode: color;
  }

  // Dusk overlay
  &.dusk:after{
    background-image: linear-gradient(15deg, rgba(75,87,167,0.75) 13%, rgba(75,87,167,0.3) 60%, rgba(75,87,167,0.0) 100%);

    // In the `combined` case, dusk should be in front
    z-index: 3;
  }
}