#wrapper{
  margin: 0;
}

#content{
  // Make footer stick to bottom. Subtract height of header + footer + bottom margin.
  min-height: calc(100vh - #{scale(6) + scale(5) + scale(9)});
  margin-bottom: scale(9);
}

.container{
  width: 90%;
  max-width: 37rem; // Keep readable line length in base paragraph text
  margin-left: auto;
  margin-right: auto;
}

// Shared
// --------

%break-box{
  @include media(large){
    .container & {
      margin-left: -13rem;
      margin-right: -13rem;
    }
  }
}

%mimic-container{
  // Mimic container, but without max-width
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


// Layouts 

.full{
  margin: scale(3) -6%;
  width: 100vw; 
}

.pull-left, 
.pull-right{
  width: calc(50% - #{scale(1)});
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}