.masonry{
  padding: 0;
  list-style: none;
  @include container(scale(14));
}

.masonry-panel{
  margin: 0;
  padding: scale(1)/2;

  @include media(tiny){
    width: 100%;
  }

  @include media(small){
    width: span(6);
  }

  @include media(medium){
    width: span(4);
  }

  @include media(large){
    width: span(3);
  }
}

// Need to find a better place to put this:
.gallery{
  img{
    display: block;
  }
  & + p{
    // margin-top: 0; // cancel out because there's already padding
  }
}