.partner,
.partner_info {

  @include media(medium){
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
  }

}

.partner{
  & + &{
    margin-top: scale(5);
  }
}

.partner_photo{
  width: 100px;
  text-align: center;

  img{
    display: block;
  }

  @include media(medium){
    text-align: left;
    float: left;
    margin: 0 !important;
    padding-right: scale(1);
  }
}

.partner_info{
  margin-top: 0;
  h4{
    margin-top: 0;
  }
}

.partners{
  .nav{
    text-align: center;
    display: block;
    
    li{
      display: inline-block;
      padding-right: scale(-1);
    }

    a{
      color: color(gray);
      &:hover{
        color: color(primary);
      }
    }

    @include media(medium){
      text-align: left;
    }
  }
}