.services-list {
  text-align: center;
  padding: 0;
  margin-top: scale(1)*2;
  margin-bottom: scale(1)*2;
  list-style: none;
  
  @include media(medium){
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .symbol{
    font-size: scale(2);
  }

  .service{
    margin-bottom: scale(1);
    padding: scale(1);

    @include media(medium){
      flex: 1 1 30%;
    }
  }
}

.service-title{
  white-space: nowrap;
}