// Settings.scss
// ===============
//
// This is all the settings for the project that effect multiple files.
//


// Color
// -------

// Brand Palette
// (This is just for utility within settings, to match the brand guide)

$dusk: #4b58a7;

$dawn: linear-gradient(45deg, #ee2e25 0%, #f17f21 69%, #f3ce1e 100%);
$dawn-yellow: #F3CE1E;
$dawn-orange: #F17F21;
$dawn-red: #EE2E25;

$onyx: #2a2a2a;
$silver: #ccc;
$opal: #fff;


// Working Palette
// (These are abstracted values – this is what should be 
//  used throughout the stylesheet, with a few small exceptions)

$color-map: (
  primary:     $dusk,
  secondary:   $dawn-orange,
  black:       $onyx,
  dark-gray:   darken($silver, 20%),
  gray:        darken($silver, 10%),
  light-gray:  $silver,
  white:       $opal
);

// Type
// ------

$serif: "Chronicle Text G1 A", "Chronicle Text G1 B", georgia, serif;

// Optima's web version separated all the cuts into different files 😩
$optima-fallback-stack: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
$sans: "OptimaLT", $optima-fallback-stack;
$sans-bold: "OptimaLT-Black", $optima-fallback-stack;

// Modular scale settings

$ms-base: 16; // base font size
$ms-ratio: $fourth; // multiple to scale by


// Layout
// --------

$susy: (
  columns: 12,
  gutters: .5,
  gutter-position: split,
  math: fluid,
  global-box-sizing: border-box,
  debug: (
    // image: show
  )
);

$breakpoints: (
    "tiny"   "screen and (max-width: 340px)",
    "small"   "screen and (max-width: 44.9375em)",
    "medium"  "screen and (min-width: 45em)",
    "large"  "screen and (min-width: 64em)",
    "x-large"   "screen and (min-width: 75em)",
    "retina"  "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"
);