.team-member_info {
  margin-top: 0;
  margin-bottom: scale(1);
  max-width: 37rem;
  padding: scale(1);

  h2{
    margin-top: 0;
  }
}

.team-member_photo {
  padding: scale(1) 0;
  pointer-events: none;
  
  img{
    border-radius: 3px;
    @include card(3);
  }
}

.team-member {
  clear: both;
  
  &:nth-child(even) {
    .team-member_photo{ 
      float: right; 
    }
  }

  .social{
    text-align: center;
    font-size: scale(2);
    pointer-events: auto;
    a{
      color: color(gray);
      &:hover{
        color: color(primary);
      }
    }
  }
}