/* Typography */

// Base
// ------

html{
  font-size: 100%;
}

body{
  font-size: scale(0);
  font-family: $serif;
  line-height: 1.5;
  background-color: color(white);
  color: color(black);
}

// Headings
// ----------

$headings: ( scale(4), scale(2), scale(0), scale(1), scale(-1), scale(0) ); // sizes
$headings-height: ( scale(4), scale(3), scale(1), scale(1), scale(0), scale(1) ); // line-heights

// All headings
%heading{
  font-weight: 700;
  line-height: 1;
  
  a{
    color: inherit;
    text-decoration: none;
  }
}

// For each heading
@for $i from 1 through length($headings){

  // Get the size
  $size: nth($headings, $i);

  // Get the line-height
  $line-height: nth($headings-height, $i);

  // Build the selector ("h" + the current loop count = h1, h2, h3, etc)
  h#{$i} {

    // Get the common styling
    @extend %heading;

    // Set our base values
    font-size: $size;
    line-height: $line-height;

    // Set our exceptions
    @if $i == 1 { // h1
      font-weight: 300;
      margin-top: scale(7);
      margin-bottom: scale(6);
      main & {
        text-align: center;
      }
    }

    @if $i == 2 { // h2
      margin-top: scale(2);
      font-weight: 300;
    }

    @if $i == 3 { // h3
      margin-top: scale(2);
      font-family: $sans-bold;
      text-transform: uppercase;
      letter-spacing: 2.4px;
    }

    @if $i == 4 { // h4
      margin-top: scale(1);
      font-weight: 400;
    }

    @if $i == 5 { // h5
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    @if $i == 6 { // h6
      font-family: $sans;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

  }

}

%small-caps_sans {
  font-family: $sans;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// Paragraphs
// ------------

p{
  text-rendering: optimizeLegibility;

  h1 + &, .container > &:first-child {
    font-size: scale(1);
  }

  a, abbr{
    @extend %small-caps_sans;
    font-size: scale(-1);
  }
  a{
    font-family: inherit;
  }
}

// Lists
// -------

ul, ol{
  padding-left: scale(0);
  
  ul, ol{ 
    margin: 0; 
  }

  li{
    margin-top: 0;
  }

}

ul{
  list-style-type: square;
  ul{
    list-style-type: disc;
    ul{
      list-style-type: circle;
    }
  }
}

ol{
  list-style-type: decimal;
  ol{
    list-style-type: upper-alpha;
    ol{
      list-style-type: lower-roman;
      ol{
        list-style-type: lower-alpha;
      }
    }
  }
}

// Links
// -------

a{
  color: color(primary);
  text-decoration: none;
  transition: color 300ms;
  &:hover{
    color: color(secondary);
  }
}

// Quotes
// --------

blockquote {
  quotes: none;
  padding: scale(1) 0;
  color: white;  /* Fallback: assume this color ON TOP of image */
  background: $dawn;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include media(medium){
    text-align: center;
  }

  p {
    font-size: scale(1);
    @include media(large){
      font-size: scale(2);
    }
  }

  cite {
    @extend %small-caps_sans; 
    font-style: normal;
    display: block;
    -webkit-text-fill-color: $dusk;
    &:before{
      content: "– ";
      font-weight: 100;
      color: color(light-gray);
    }
  }

  &:before, 
  &:after{
    content: '';
    content: none;
  }

  @extend %break-box;

}

q {
  quotes: "“" "”" "‘" "’";
}

// Inline Misc
// -------------

strong, b{
  font-weight: bold;
}

em, p cite{
  font-style: italic;
}

sub, sup {
  // Specified in % so that the sup/sup is the right 
  // size relative to the surrounding text
  font-size: 75%;

  // Zero out the line-height so that it doesn't
  // interfere with the positioning that follows 
  line-height: 0;

  // Where the magic happens: makes all browsers position 
  // the sup/sup properly, relative to the surrounding text 
  position: relative;
}

sup {
  // Move the superscripted text up
  top: -0.5em;
}

sub {
  // Move the subscripted text down, but only
  // half as far down as the superscript moved up
  bottom: -0.25em;
}

small{
  font-size: scale(-1);
}

samp, var, code, pre, kbd{
  font-family: monospace;
  padding: .3em;
  background-color: #eee;
  p > & {
    padding-top: 0;
    padding-bottom: 0;
  }
}

var {
  font-style: italic;
}

kbd {
  color: color(black);
  text-align: center;
  line-height: 1em;
  text-shadow: 0 1px 0 #fff;
  
  display: inline;
  padding: .1em .5em;
  
  border-radius: 3px;
  background-clip: padding-box;
  border: 1px solid #bbb;
  background-color: color(white);
  
  box-shadow: 0 1px 0 color(gray);
}