{% cache %}
    <footer id="footer">
      
      <svg id="footer-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 98.21 112.19"><defs><style>.a{fill:url(#a);}.b{fill:url(#b);}.c{fill:url(#c);}.d{fill:url(#d);}.e{fill:url(#e);}.f{fill:url(#f);}.g{fill:url(#g);}</style><linearGradient id="a" x1="-47.46" y1="108.85" x2="106.98" y2="-45.59" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ee2e25"/><stop offset="0.13" stop-color="#ee3325"/><stop offset="0.3" stop-color="#ef4224"/><stop offset="0.47" stop-color="#ef5b23"/><stop offset="0.66" stop-color="#f17e21"/><stop offset="0.86" stop-color="#f2aa20"/><stop offset="1" stop-color="#f3ce1e"/></linearGradient><linearGradient id="b" x1="-34.99" y1="121.32" x2="119.45" y2="-33.12" xlink:href="#a"/><linearGradient id="c" x1="-48.38" y1="107.93" x2="106.06" y2="-46.51" xlink:href="#a"/><linearGradient id="d" x1="-19.4" y1="136.91" x2="135.04" y2="-17.53" xlink:href="#a"/><linearGradient id="e" x1="-32.98" y1="123.34" x2="121.47" y2="-31.1" xlink:href="#a"/><linearGradient id="f" x1="-17.2" y1="139.12" x2="137.24" y2="-15.33" xlink:href="#a"/><linearGradient id="g" x1="-15.98" y1="140.34" x2="138.46" y2="-14.11" xlink:href="#a"/></defs><title>Asset 1</title><path class="a" d="M52.3,7.31,35,11a215.92,215.92,0,0,1-6.92,22.26L45.64,31.1A233.29,233.29,0,0,0,52.3,7.31Z"/><path class="b" d="M8.5,72.6l17.63.9a215.37,215.37,0,0,0,10.71-20.3l-17.64.63A198.07,198.07,0,0,1,8.5,72.6Z"/><path class="c" d="M10.61,35.45a189.86,189.86,0,0,1-9.05,19l17.64-.66a207,207,0,0,0,8.93-20.58Z"/><path class="d" d="M0,108.21l17.2,4A214.94,214.94,0,0,0,31.25,94.33L13.77,91.87A197.44,197.44,0,0,1,0,108.21Z"/><path class="e" d="M69.57,3.65A250.83,250.83,0,0,1,63.16,29l17.52-2.12A268.53,268.53,0,0,0,86.84,0Z"/><path class="f" d="M43.76,74.43l17.63.95A250.51,250.51,0,0,0,72.12,52l-17.64.59A232.85,232.85,0,0,1,43.76,74.43Z"/><path class="g" d="M72.12,52l17.64-.57a277.28,277.28,0,0,0,8.45-26.71l-17.53,2.1A259.52,259.52,0,0,1,72.12,52Z"/></svg>

      <small>{{ copyrightText.copyrightText|parseRefs|raw }} {{ footerText.footerText|parseRefs|raw }}</small>
      {% if footerSocial.footerSocialIcon|length %}
      <ul class="social">
        <li><a href="{{ footerSocial.footerSocialIconUrl }}">{{ footerSocial.footerSocialIcon }}</a></li>
      </ul>
    {% endif %}
    </footer>
{% endcache %}
