{% cache %}

{# Define the site navigation #}
{% set nav = {
  process:    { title: "What we do" },
  leadership: { title: "Who we are" },
  home:       { title: "Telos"      },
  articles:   { title: "How we think" },
  contact:    { title: "Get in touch" }
} %}

<header id="header" class="material-2">

    <a href="#menu" class="menu-toggle">Menu</a>
    <nav role="navigation">
      <ul class="nav navbar">
        {% for slug, item in nav %}
          {% if slug == "home" %}
            <li id="site-logo">
              <h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
            </li>
          {% else %}
            <li>
              <a href="{{ url(slug) }}" {% if craft.request.firstSegment == slug %}class="active"{% endif %}>{{ item.title|raw }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    
</header>

{% endcache %}