{#
 # Event template
 # -------------------
 #
 # This template gets loaded whenever an Article entry’s URL is
 # requested. That’s because the Article section’s Template setting is
 # set to “articles/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested Article entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}
  <div class="container">
    <article>
      <h1>{{ entry.title }}</h1>

      <div class="event-meta">
        <h4>When: <span>{{ entry.eventDateTime|date('M j, Y') }}</span></h4>
        <h4>Where: <span>{{ entry.eventLocation }}</span></h4>
      </div>

      {% include "_includes/body_matrix" %}

    </article>
  </div>
{% endblock %}
