{#
 # Process page template
 # --------------------------
 #
 # This template gets loaded for the services/process page, i.e. "What we do"
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% set bodyClass = "process" %}
{% set title = "Process" %}

{% block content %}
  <div class="container">
    
    <h1>{{ entry.title }}</h1>

    {% include "_includes/body_matrix" %}

  </div>

{% endblock %}
