{#
 # Leadership page template
 # --------------------------
 #
 # This template gets loaded for the about/team page, i.e. "Who we are"
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% set bodyClass = "leadership" %}
{% set title = "Leadership" %}

{% block content %}
  <div class="container">

    <h1>{{ entry.title }}</h1>

    {% include "_includes/body_matrix" %}

  </div>

{# cache #}

{% set teamMembers = craft.entries.section('teamMembers') %}
{% set strategicPartners = craft.entries.section('strategicPartners') %}

{% if teamMembers|length %}
<section class="team">
  <h1>Leadership Team</h1>

    {# Loop through all of the team member entries #}
    {% for member in teamMembers %}

      <div class="team-member grid">

        {% if member.teamPhoto %}
        {% set photo = member.teamPhoto.first() %}
        {% set transform = {
          mode: 'fit',
          width: 600,
        } %}
        <figure class="team-member_photo col-3">
          
          <img src="{{ photo.getUrl(transform) }}" width="{{ photo.getWidth(transform) }}">

          {% if member.socialNetworks %}
              <ul class="social nav">
                
              {% for i, network in member.socialNetworks %}

                <li><a href="{{ network.profileUrl }}">{{ network.platform }}</a></li>

              {% endfor %}

            </ul>
          {% endif %} 
          
        </figure>
        {% endif %}

        <div class="team-member_info{% if member.teamPhoto %} col-3-2{% endif %}">
        
          <h2>{{ member.title }}</h2>
          
          <h4>{{ member.role}}</h4>
          
          {{ member.bio }}

        </div>

      </div>

    {% endfor %}
  </section>
{% endif %}

{% if strategicPartners|length %}

  <section class="partners">

    <h1>Strategic Partners</h1>

    <div class="container">

    {# Loop through all of the partner entries #}
    {% for partner in strategicPartners %}

      <div class="partner">

        {% if partner.teamPhoto %}
        {% set photo = partner.teamPhoto.first() %}
        {% set transform = {
          mode: 'fit',
          width: 200,
        } %}

        <figure class="partner_photo">
          
          <img src="{{ photo.getUrl(transform) }}" width="{{ photo.getWidth(transform) }}">

        </figure>
        {% endif %}

        <div class="partner_info">
        
          <h4>{{ partner.title }}</h4>
          
          {{ partner.bio }}

          {% if partner.socialNetworks %}
            <ul class="social nav">
                
              {% for i, network in partner.socialNetworks %}

                <li><a href="{{ network.profileUrl }}">{{ network.platform }}</a></li>

              {% endfor %}

            </ul>
          {% endif %} 
          

        </div>

      </div>

    {% endfor %}

    </div>
  </section>
{% endif %}

{# endcache #}

{% endblock %}
