{#
 # Contact page template
 # --------------------------
 #
 # This template gets loaded for the contact page, i.e. "Get in touch"
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% set bodyClass = "contact" %}
{% set title = "Contact" %}

{% block content %}
  <div class="container">
    
    <h1>{{ entry.displayTitle }}</h1>

    {% include "_includes/body_matrix" %}

  </div>

  <div class="container">
    <form action="//formspree.io/info@telosgroup.com" method="POST" autocomplete="on">
      <h3><label for="name">Name</label></h3>
      <input type="text" name="name" placeholder="Your full name" required>
      <h3><label for="email">Email</label></h3>
      <input type="email" name="email" input="email" placeholder="Your email address" required>
      <h3><label for="message">Message</label></h3>
      <textarea rows="10" name="Message" placeholder="How can we help?" required></textarea>
      <button type="submit" class="button alternate">Send</button>
      <input type="text" name="_gotcha" style="display:none" />
      <input type="hidden" name="_subject" value="New Website Inquiry" />
      <input type="hidden" name="_format" value="plain" />
      <input type="hidden" name="_next" value="/contact/thanks" />
    </form>
  </div>

{% endblock %}
