{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7805914/7357952/css/fonts.css" />
	<link href="{{ siteUrl }}css/style.css" rel="stylesheet">
</head>

<body {% if bodyClass is defined %}class="{{ bodyClass }}"{% endif %}>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-78961090-1', 'auto');
	  ga('send', 'pageview');

	</script>

	{# Set the `bodyClass` variable to the entry's section handle if there is one, or the first URI segment (this is used by the parent template) #}
	{% if bodyClass is not defined %}
		{% set bodyClass = entry is defined ? entry.section.handle : craft.request.firstSegment %}
	{% endif %}

	<div id="wrapper">

		{% include "_includes/header" %}

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>
		
		{% include "_includes/footer" %}

	</div>

	<script src="{{ siteUrl }}js/scripts.js"></script>
</body>
</html>
