{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% set bodyClass = "marketing" %}

{% block content %}
    
    <div class="hero{% if entry.heroColor == "none" %}{% else %} {{ entry.heroColor }}{% endif %}" style="background-image: url('{{ entry.heroImage.first().url }}');">
      <div class="hero-content">
        
        <h1>{{ entry.displayTitle }}</h1>
        
        {{ entry.heroText }}

        {% if entry.heroButtonText %}
        <a class="button" href="{{ entry.heroButtonUrl }}">{{ entry.heroButtonText }}</a>
        {% endif %}

      </div>
    </div>

    <div class="container">

      {% include "_includes/body_matrix" %}

    </div>
    
{% endblock %}
